<!DOCTYPE html>
<html>
<head>
  <title>FreedomBoard</title>
  <%= stylesheet_link_tag    '/css/bootstrap.css' %>
  <%= stylesheet_link_tag    '/css/bootstrap-responsive.css' %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = "row text-center">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Freedom Board</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">All Posts</a></li>
      <li><%= link_to "New Post", new_post_path %></li>
    </ul>
  </div>
</nav>
<%= yield %>

</body>
</html>
